{% load static %}
<html lang="ja">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="refresh" content="3;url={% url 'ManagementApp:Login' %}">
        <title>ログアウト</title>
        <link href="{% static 'css/LogoutStyle.css' %}" rel="stylesheet"type="text/css">
        <!-- <script type="text/javascript" src="{% static 'script.js' %}"></script> -->
        <!-- こいつがないと関数が機能しない -->

    </head>
    <body>
        <h1>
            ログアウトしました
        </h1>

        <h3>
            <p>3秒後にログイン画面に自動で遷移します</p>
        </h3>
    </body>