{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="{% static 'css/MainMenuStyle.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>
        {{title}}
    </h1>

    <h2>
        <div align="center">
            {{message}}
            <form method="POST">
                {% csrf_token %}
                <select name="example" width="100px">
                    <option value="example1">部屋予約</option>
                    <option value="example2">メニュー2</option>
                    <option value="example3">メニュー3</option>
                </select>
            </form>
        </div>
    </h2>

    <h2>
        <div align="center">
            <button class="toDetail" type="submit" >{{ButtonMessage}}</button>
        </div>
    </h2>

<!-- ブロックを作成して、それにリンクを貼る -->
<a style="padding: 5px; margin-bottom: 5px; border: 1px solid #333333; border-radius: 10px;width:500px;max-width:90%;min-height: 140px;display: block;text-decoration:none;"
    href="{% url 'ReserveApp:week_calendar' %}">
    <div style="color:black;font-size: 20px;font-weight: bold;">予約システム</div>
    <p style="color:black;">予約システムのメインメニューへ移行します。</p>
</a>
<a style="padding: 5px; margin-bottom: 5px; border: 1px solid #333333; border-radius: 10px;width:500px;max-width:90%;min-height: 140px;display: block;text-decoration:none;"
    href="{% url 'ReserveApp:UserDB' %}">
    <div style="color:black;font-size: 20px;font-weight: bold;">ユーザー管理</div>
    <p style="color:black;">会員ユーザー情報のリストを表示します。</p>
</a>
<a style="padding: 5px; margin-bottom: 5px; border: 1px solid #333333; border-radius: 10px;width:500px;max-width:90%;min-height: 140px;display: block;text-decoration:none;"
    href="{% url 'ReserveApp:MyReserve' %}">
    <div style="color:black;font-size: 20px;font-weight: bold;">予約確認</div>
    <p style="color:black;">ユーザーの予約状況が確認できます。</p>
</a>
<a style="padding: 5px; margin-bottom: 5px; border: 1px solid #333333; border-radius: 10px;width:500px;max-width:90%;min-height: 140px;display: block;text-decoration:none;"
    href="{% url 'ReserveApp:Logout' %}">
    <div style="color:black;font-size: 20px;font-weight: bold;">ログアウト</div>
    <p style="color:black;">ログアウトすると自動でログイン画面へ戻ります。</p>
</a>

<div class="container">
    <div class="item">テスト</div>
</div>

    <h3>
        <!--今回遷移先のurlを<form>で書いていたため、ボタンの種類が「submit」でないと起動しない（おそらく）-->
        <form action="{% url 'ReserveApp:Logout' %}" method="get">
            <button class="toLogout" type="submit">ログアウト</button>
        </form>
    </h3>
</body>

</html>