{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="{% static 'css/MainMenuStyle.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>
        {{title}}
    </h1>

    <h2>
        <div align="center">
            {{message}}
            <form method="POST">
                {% csrf_token %}
                <select name="example" width="100px">
                    <option value="example1">部屋予約</option>
                    <option value="example2">メニュー2</option>
                    <option value="example3">メニュー3</option>
                </select>
            </form>
        </div>
    </h2>

    <h2>
        <div align="center">
            <button class="toDetail" type="submit" >{{ButtonMessage}}</button>
        </div>
    </h2>

    <table align="center" border="1" class="radius-table">
        <tr>
            <td>
                <a href="{% url 'ReserveApp:week_calendar' %}">
                    <h2>予約カレンダー</h2>
                    <p>予約はこちらから</p>
                </a>
            </td>
            <td>
                <a href="{% url 'ReserveApp:UserDB' %}">
                    <h2>ユーザー管理</h2>
                    <p>会員ユーザー情報のリストを表示します。</p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'ReserveApp:MyReserve' %}">
                    <h2>予約確認</h2>
                    <p>ユーザーの予約状況が確認できます。</p>
                </a>
            </td>
            <td>
                <a href="{% url 'ReserveApp:UserCreate' %}">
                    <h2>ユーザー追加</h2>
                    <p>ユーザーを追加します。</p>
                </a>
            </td>
        </tr>
    </table>

    <h3>
        <!--今回遷移先のurlを<form>で書いていたため、ボタンの種類が「submit」でないと起動しない（おそらく）-->
        <form action="{% url 'ReserveApp:Logout' %}" method="get">
            <button class="toLogout" type="submit">ログアウト</button>
        </form>
    </h3>
</body>

</html>