{% load static %}
<html lang="ja">

<head>

    <meta charset="utf-8">
    <title>作業場登録</title>
    <link href="{% static 'css/UserEntryStyle.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <h1>
        {{title}}
    </h1>
    <p>
        {{message}}
    </p>
    <form action="{% url 'ManagementApp:WorkPlaceEntry' %}" method="post">
        {{form}}
        {% csrf_token %}
        <button type="submit">登録</button>
    </form>
</body>